body#agregar {
   background: url(../img/fondo_agregar_opt.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   width: auto;
}
 
body#delete {
   background: url(../img/fondo_eliminar.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   width: auto;
}

.button_xdx { 
   background: #4CAF50;
   background-image: -webkit-linear-gradient(top, #4CAF50, #8BC34A);
   background-image: -moz-linear-gradient(top, #4CAF50, #8BC34A);
   background-image: -ms-linear-gradient(top, #4CAF50, #8BC34A);
   background-image: -o-linear-gradient(top, #4CAF50, #8BC34A);
   background-image: linear-gradient(to bottom, #4CAF50, #8BC34A);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: monospace;
   font-size: 12px;
   font-weight: 100;
   padding: 10px;
   box-shadow: 0px 0px 8px 0px #000000;
   -webkit-box-shadow: 0px 0px 8px 0px #000000;
   -moz-box-shadow: 0px 0px 8px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #A5D6A7 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.button_xdx:hover {
   border: solid #A5D6A7 1px;
   background: #8BC34A;
   background-image: -webkit-linear-gradient(top, #8BC34A, #4CAF50);
   background-image: -moz-linear-gradient(top, #8BC34A, #4CAF50);
   background-image: -ms-linear-gradient(top, #8BC34A, #4CAF50);
   background-image: -o-linear-gradient(top, #8BC34A, #4CAF50);
   background-image: linear-gradient(to bottom, #8BC34A, #4CAF50);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.button_xdx_eliminar { 
   background: #B71C1C;
   background-image: -webkit-linear-gradient(top, #B71C1C, #EF5350);
   background-image: -moz-linear-gradient(top, #B71C1C, #EF5350);
   background-image: -ms-linear-gradient(top, #B71C1C, #EF5350);
   background-image: -o-linear-gradient(top, #B71C1C, #EF5350);
   background-image: linear-gradient(to bottom, #B71C1C, #EF5350);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: monospace;
   font-size: 12px;
   font-weight: 100;
   padding: 12px;
   box-shadow: 0px 0px 10px 0px #000000;
   -webkit-box-shadow: 0px 0px 10px 0px #000000;
   -moz-box-shadow: 0px 0px 10px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #A5D6A7 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.button_xdx_eliminar:hover {
   border: solid #A5D6A7 1px;
   background: #EF5350;
   background-image: -webkit-linear-gradient(top, #EF5350, #B71C1C);
   background-image: -moz-linear-gradient(top, #EF5350, #B71C1C);
   background-image: -ms-linear-gradient(top, #EF5350, #B71C1C);
   background-image: -o-linear-gradient(top, #EF5350, #B71C1C);
   background-image: linear-gradient(to bottom, #EF5350, #B71C1C);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.button {
   border-top: 1px solid #ffffff;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   padding: 6.5px 13px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 16px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   text-align: center;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #ffffff;
   background: #ffffff;
   color: #000000;
   }
.button:active {
   border-top-color: #ffffff;
   background: #ffffff;
   }

.caja_de_texto {
   margin-left: auto;
   margin-right: auto;
}

.columna_btn {
   text-align: center;
}


.form-check-label {
   color: rgba(0, 0, 0, 1);
   font-size: 12px;
   margin-left: 12px;
}

h1 {
   color: rgba(0, 0, 0, 1);
}

.titulo {
   color: #ECEFF1;
   text-align: center;
}