body#agregar {
   background: url(../img/fondo_agregar_opt.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   width: auto;
}

body#delete {
   background: url(../img/fondo_eliminar.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   width: auto;
}


.button_xdx { 
   background: #4CAF50;
   background-image: -webkit-linear-gradient(top, #4CAF50, #8BC34A);
   background-image: -moz-linear-gradient(top, #4CAF50, #8BC34A);
   background-image: -ms-linear-gradient(top, #4CAF50, #8BC34A);
   background-image: -o-linear-gradient(top, #4CAF50, #8BC34A);
   background-image: linear-gradient(to bottom, #4CAF50, #8BC34A);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: monospace;
   font-size: 12px;
   font-weight: 100;
   padding: 10px;
   box-shadow: 0px 0px 8px 0px #000000;
   -webkit-box-shadow: 0px 0px 8px 0px #000000;
   -moz-box-shadow: 0px 0px 8px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #A5D6A7 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.button_xdx:hover {
   border: solid #A5D6A7 1px;
   background: #8BC34A;
   background-image: -webkit-linear-gradient(top, #8BC34A, #4CAF50);
   background-image: -moz-linear-gradient(top, #8BC34A, #4CAF50);
   background-image: -ms-linear-gradient(top, #8BC34A, #4CAF50);
   background-image: -o-linear-gradient(top, #8BC34A, #4CAF50);
   background-image: linear-gradient(to bottom, #8BC34A, #4CAF50);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.button_xdx_eliminar { 
   background: #B71C1C;
   background-image: -webkit-linear-gradient(top, #B71C1C, #EF5350);
   background-image: -moz-linear-gradient(top, #B71C1C, #EF5350);
   background-image: -ms-linear-gradient(top, #B71C1C, #EF5350);
   background-image: -o-linear-gradient(top, #B71C1C, #EF5350);
   background-image: linear-gradient(to bottom, #B71C1C, #EF5350);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: monospace;
   font-size: 12px;
   font-weight: 100;
   padding: 12px;
   box-shadow: 0px 0px 10px 0px #000000;
   -webkit-box-shadow: 0px 0px 10px 0px #000000;
   -moz-box-shadow: 0px 0px 10px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #A5D6A7 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.button_xdx_eliminar:hover {
   border: solid #A5D6A7 1px;
   background: #EF5350;
   background-image: -webkit-linear-gradient(top, #EF5350, #B71C1C);
   background-image: -moz-linear-gradient(top, #EF5350, #B71C1C);
   background-image: -ms-linear-gradient(top, #EF5350, #B71C1C);
   background-image: -o-linear-gradient(top, #EF5350, #B71C1C);
   background-image: linear-gradient(to bottom, #EF5350, #B71C1C);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.caja_de_texto {
   margin-left: auto;
   margin-right: auto;
}

.columna_btn {
   text-align: center;
}

.form-check-label {
   color: #ECEFF1;
   font-size: 12px;
   margin-left: 12px;
}

.titulo {
   color: #ECEFF1;
   text-align: center;
}