body {
	background: url(../img/estaciones.jpg);
}

td {
	color: #ffffff;
}

.acciones {
	display: flex;
	justify-content: flex-end;
}

.acciones a {
	color: #ffffff;
	/*color: rgba(41, 48, 59, 1);*/
	font-size: 12px;
 	margin-right: 10px;
 	margin-top: 4px;
 	text-decoration: none;
}

#datos, #codigo_qr, #modificar{
	margin: 30px 30px 30px 30px;
	padding: 10px 10px 10px 10px;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
}

#datos {
	background: rgba(69, 39, 160, .5); /*fondo morado*/
	/*border: 0px solid #000000;*/
}

#codigo_qr {
	background-color: rgba(46, 138, 138, 0.5);
}

#modificar {
	background-color: rgba(255, 87, 34, 0.5);
}

.nom_campo{
	margin: auto 0 auto 0;
}

.titulo, .titulo_codigo_qr, .titulo_modificar{
	color: #ffffff;
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 1.75em;
	text-align: left;
}

.table{
	border: 0px;
}

