body {
	background: url(../img/estaciones.jpg);
}

td {
	color: #ffffff;
}

.acciones {
	display: flex;
	justify-content: flex-end;
}

.acciones a {
	color: #ffffff;
	/*color: rgba(41, 48, 59, 1);*/
	font-size: 12px;
 	margin-right: 10px;
 	margin-top: 4px;
 	text-decoration: none;
}

.btn_codigo_qr {
   background: #2E8A8A;
   background-image: -webkit-linear-gradient(top, #2E8A8A, #0C4646);
   background-image: -moz-linear-gradient(top, #2E8A8A, #0C4646);
   background-image: -ms-linear-gradient(top, #2E8A8A, #0C4646);
   background-image: -o-linear-gradient(top, #2E8A8A, #0C4646);
   background-image: linear-gradient(to bottom, #2E8A8A, #0C4646);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 8px;
   font-weight: 100;
   padding: 10px;
   border: solid #0C4646 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn_codigo_qr:hover {
   border: solid #4BCBCB 1px;
   background: #0C4646;
   background-image: -webkit-linear-gradient(top, #0C4646, #2E8A8A);
   background-image: -moz-linear-gradient(top, #0C4646, #2E8A8A);
   background-image: -ms-linear-gradient(top, #0C4646, #2E8A8A);
   background-image: -o-linear-gradient(top, #0C4646, #2E8A8A);
   background-image: linear-gradient(to bottom, #0C4646, #2E8A8A);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}

.control-label {
	color: #ECEFF1;
}


#datos, #codigo_qr, #modificar{
	margin: 30px 30px 30px 30px;
	padding: 10px 10px 10px 10px;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
}

#datos {
	background: rgba(69, 39, 160, .5);
}

#codigo_qr {
	display: block;
	background-color: rgba(46, 138, 138, 0.5);
}

#modificar {
	background-color: rgba(255, 87, 34, 0.5);
}

.nom_campo{
	margin: auto 0 auto 0;
}

.result {
	width: auto 100%;
	height: 180px;
	background-color: white;
}

.titulo, .titulo_codigo_qr, .titulo_modificar{
	color: #ffffff;
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 1.75em;
	text-align: left;
}

.table{
	border: 0px;
}

