body {
    background-color: #000000;
  }
  
  h1 {
    color: #ffffff;
    text-align: center;
  }
  
  .myButton {
      box-shadow:inset 0px 0px 14px -6px #000000;
      background-color:transparent;
      border-radius:17px;
      border:2px solid #ffffff;
      display:inline-block;
      cursor:pointer;
      color: #fffffF;
      font-family:Arial;
      font: size 5px;
      padding:11px 15px;
      text-decoration:none;
  }
  .myButton:hover {
      background-color:transparent;
  }
  .myButton:active {
      position:relative;
      top:1px;
  }
  
  .material-icons {
    color: #ffffff;
    display: block;
  }