/*----------------------------------------------------------------------*/
.navbar {
    border-radius: 0px;
    font-size: 16px;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 100
}

.cabecera_tbl {
	text-align: center;
	color: #F2ECCE;
}

.colores_carrier {
	text-align: center;
	font-size: 11px;
}

#lista1 li {
	display:inline;
	padding-left:3px;
	padding-right:3px;
}

.color_carrier {
  margin:		10px;
  margin-bottom: 5px;
  font-size:	12px;
}

.etiqueta_carrier {
	padding: 5px;
}

body {
  background: rgba(0, 66, 102, 1);

}

.fila_uno {
  
  width: 100%;
  height: 400px;
}

h1 {
  color: #F2ECCE;
  margin-top: 60px;
  margin-left: 100px;
  margin-bottom: 30px;
}

.col-md-1, .col-md-2{
  height: 400px;
}

.col-md-4 {
    background-color: rgba(17, 102, 136, .70);
    height: 420px;
    border-radius: 50px;
    float: center;
}

.subtitulos {
  display: inline-flex;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 30px;
  color: #F2ECCE;
}

.btn {
  color: #F2ECCE;
  font-size: 2.5em;
}

.media {
  background-color: rgba(0, 66, 102, .50);
  font-size: 10px;
  padding: auto;
}
.tabla_campanias, .tabla_registros_por_dia {
  border-radius: 50px;
  color: #F2ECCE;
  margin-bottom: 0rem;
}

.tm-notification-items {
  overflow-y: scroll;
  margin-bottom: 12px;
  height: 70%;
  width: 100%;
}
/*
  Tabla inventarios
 */
.cabecera_tbl_inventario{
  font-size: 1.75em;
  text-align: center;
}

.col-md-10 {
  background-color: rgba(17, 102, 136, .70);
  border-radius: 50px;
  height: 250px;
}

.contenedor_tbl_inv {
  width: 95%;
  margin: auto;
}

.fila_dos {
  width: 100%;
  height: 250px;
}

.material-icons {
  font-size: 8em;
}

.medidas_icon_inv {
    text-align: center;
}

.tabla_inventarios {
  background-color: rgba(0, 66, 102, .50);
  color: #F2ECCE;
  margin-bottom: 0rem;
}

.texto {
  font-size: 1.2em;
  text-align: center;
}

/*
  Tabla registro servidor por día
*/ 
.b {
  background-color: rgba(17, 102, 136, .70);
  border-radius: 50px;
  height: 450px;  
}

.resultado_consulta {
  text-align: right;
  font-size: 1em;
}

.cabecera_tbl_consumo {
  color: #F2ECCE;
  font-size: 1em;
  margin: auto;
  text-align: center;
}

a.GeneratedLink:link {
  color:#F2ECCE;
  font-size: 12px;
  margin-left: 2em;
  text-decoration:none;
  text-align: right;
}

a.GeneratedLink:visited {
  color:#FF0000;
}

a.GeneratedLink:hover {
  color:#FF0000;
}

a.GeneratedLink:active {
  color:rgb(255, 153, 0);
}

.GeneratedLink {
  float: right;
  font-size: 12px;
  margin-right: 3em;
}

.spinner-grow {
  float: right;
  margin: 3em;
}

/* Colores carrier's*/

td.bg-primary, td.bg-warning, td.bg-success, td.bg-danger, td.bg-info {
  font-size: 14px;
  text-align: center;
}