body {
  background: #ffffff;
  /*background: url(../img/estaciones1.jpg);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: auto;
}

.button_xdx { 
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: monospace;
   font-size: 12px;
   font-weight: 100;
   padding: 13px;
   box-shadow: 0px 0px 8px 0px #000000;
   -webkit-box-shadow: 0px 0px 8px 0px #000000;
   -moz-box-shadow: 0px 0px 8px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.button_xdx:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.button {
   border-top: 1px solid #ffffff;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   padding: 6.5px 13px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 16px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   text-align: center;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #ffffff;
   background: #ffffff;
   color: #000000;
   }
.button:active {
   border-top-color: #ffffff;
   background: #ffffff;
   }

.cabecera_tabla {
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    text-align: center;
}

.cabecera_tabla1 {
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    text-align: left;
}


h2 {
  color: #e0e0e0;
  font-size: 28px;
  margin: 5px 0 5px 0;
}


.filas {
align-items: center;
background: rgba(40, 55, 71, .7);
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
display: flex;
justify-content: center;
margin: 20px auto;
padding: 15px 15px 15px 15px;
text-align: center;
width: 100%;
}



.navbar {
    border-radius: 0px;
    font-size: 14px;
    margin-bottom: 0px;
    width: 100%;
}

.material-icons {
  color: rgba(0, 0, 0, 1);
  display: block;
  font-size: 85px;
}

i.material-icons{
  font-size: 90px;
}

.table {
    background-color: rgba(255, 255, 255, 1);
}

.texto {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-family: verdana, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.4pt;
    word-spacing: 3pt;
}

.texto1 {
    color: rgba(0, 0, 0, 1);
    font-family: verdana, sans-serif;
    font-size: 14px;
    letter-spacing: -1.2pt;
    word-spacing: 3.8pt;
    line-height: 1.1;
}
