#area_uno {
    margin: 800px;
    height: auto;
    background-color: #188C77;
    border-bottom-style: solid;
	border-color: #BF2517;
}


/*
* {
  box-sizing: border-box;
}

.col {
  float: left;
  margin: 0 auto;
  width: 16.66%;
  padding: 20px 20px 20px 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.filas {
  display: block;
  margin: auto;
}

.material-icons {
	color: #BF2517;
	font-size: 100px;
	display: block;
}

.fondofilauno {
  background: #BF2517;
}
#columna_1, #columna_2, #columna_3, #columna_4, #columna_5, #columna_6{
	text-align: center;
}*/