#area_uno {
    margin: 800px;
    height: auto;
    background-color: #188C77;
    border-bottom-style: solid;
    border-color: #BF2517;
}

#area-libre {
  background-color: #90A4AE;
}

#monitoreo {
  background-color: #78909C;
}

#validacion {
  background-color: #CFD8DC;
}

#vali-invex {
  background-color: #B0BEC5;
}

.filas {
margin: 10px auto;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
text-align: center
}

.material-icons {
	color: ##212121;
	font-size: 100px;
	display: block;
}

#columna_1, #columna_2, #columna_3, #columna_4, #columna_5, #columna_6{
	text-align: center;
}