body {
   background: url(../img/fondo_stock_opt.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   width: auto;
}

.cabecera_tabla {
	font-size: 16px;
}

.contenedor {
	/*background-color: rgba(69,90,100,.75);*/
	border-radius: 20px 20px 20px 20px;
	height: auto;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	width: 90%;
}

.cuerpo_tabla {
	font-size: 12px;
}

h1 {
	color: rgba(236,239,241,1);
	font-size: 25px;
	margin-left: 20px;
	margin-top: 20px;
}

h2 {
	color: rgba(236,239,241,1);
	font-size: 20px
	margin-left: 20px;
}